* {
  box-sizing: border-box;
  font: 16px Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editor-block {
  background-color: white;
  width: 75%;
  height: 250px;
  overflow: AUTO;
  padding: 16px;
  border-radius: 5px;
}

.editor-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.save-btn {
  background-color: greenyellow;
  border: none;
  color: black;
  font-size: 24px;
  border-radius: 5px;
  padding: 16px;
  margin-top: 16px;
  width: 75%;
  transition: 0.5s;
}

.save-btn:hover {
  width: 70%;
  color: darkgreen;
  letter-spacing: 8px;
}

.output {
  background-color: white;
  width: 75%;
  overflow: AUTO;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
}

.input-field {
  width: 75%;
  overflow: AUTO;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
  border: none;
}